<div class="wrap">
  <nav class="nav-bar navbar-default" role="navigation">
      <div id ="top-menu" class="container-fluid active">
           <%= render 'layouts/logo' %>
            <%= render 'layouts/user_nav' %>
      </div>      
  </nav>
  <%= render 'layouts/user_side_nav' %>
  
  <!--Body content-->
  <div class="content">
    <div class="top-bar" style="background: whitesmoke !important;">       
      <a href="#menu" class="side-menu-link burger"> 
        <span class='burger_inside' id='bgrOne'></span>
        <span class='burger_inside' id='bgrTwo'></span>
        <span class='burger_inside' id='bgrThree'></span>
      </a>      
    </div>
    <section class="content-inner">
          <div class="add-custom-hdr" style="display: block !important; margin-top: -0px; width: 80% important;"><%= image_tag "https://s3.amazonaws.com/nextpakkweb/app-header-image-web-app-1200-transp.png", class: "img-responsive" %> </div><br /><br />
                       <br />
                        <hr>
                
                      <h2 style="color: orange !important;">Your NextPakk Address</h2>
                      <p>
                      <%= "#{current_user.first_name.capitalize} #{current_user.last_name.capitalize}" %><br />
                      3909 Minnehaha Ave<br />
                      NextPakk #<%= current_user.packs_num %><br />
                      Minneapolis, MN 555406  
                      </p>

                
    </section>
  </div>  
  
</div>