
<ul class="nav nav-tabs">
  <li role="presentation" ><%= link_to "Deliver", root_path %></li>
  
  <li role="presentation" class="active"><%= link_to "Pick-up", paqs_pickup_path %></li>
</ul>
<div class="mobile-body"><br />
<h1>Pickup</h1>
<h4 class="mobile-para">Shedule pick-up of your ready-to-ship package(s). </h4><br />

<h4>What is the size of your package?</h4>
</div>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Small
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">

      <div id="imgZ" style="width:120px; min-height:120px; padding-bottom:10px; float: left;">
		<%= image_tag "https://s3.amazonaws.com/nextpakkweb/sm-pack-item-sizes.jpg", class: "img-responsive" %>
		</div>
		<span class="pull-right"><a href="#">$3.99</a></span><br /><br />
        <span style="color:black !important;">The package can be carried in one hand.</span><br />
        
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Medium
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
      <div id="imgZ" style="width:120px; min-height:120px; padding-bottom:10px; float: left;">
		<%= image_tag "https://s3.amazonaws.com/nextpakkweb/md-pack-item-sizes.jpg", class: "img-responsive" %>
		</div>
		<span class="pull-right"><a href="#">$3.99</a></span><br /><br />
        <span style="color:black !important;">Boxes within the laptop to shoebox range.</span>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Large
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
      <div id="imgZ" style="width:120px; min-height:120px; padding-bottom:10px; float: left;">
		<%= image_tag "https://s3.amazonaws.com/nextpakkweb/lrg-pack-item-sizes.jpg", class: "img-responsive" %>
		</div>
		<span class="pull-right"><a href="#">$3.99</a></span><br /><br />
        <span style="color:black !important; text-align: left !important;">You usually can't carry anything else with it.</span>
      </div>
    </div>
  </div>
   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          X-Large
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
      <div id="imgZ" style="width:120px; min-height:120px; padding-bottom:10px; float: left;">
		<%= image_tag "https://s3.amazonaws.com/nextpakkweb/os-pack-item-sizes.jpg", class: "img-responsive" %>
		</div>
		<span class="pull-right"><a href="#">$7.99</a></span><br /><br />
        <span style="color:black !important; text-align: left !important;">Packages requiring two person delivery teams or additional storage may incur additional cost..</span>
      </div>
    </div>
  </div>
</div>


