<%= simple_form_for(@schedule) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :day, class: "form-control" %>
    </div>
    <div class="form-group">
    <%= f.label :slot_id, class: "form-label" %>
	    <div class="form-control">
	    <%= collection_select( :schedule, :slot_id, Slot.all, :id, :window, {}, { :multiple => false } ) %>
	    </div>
    </div>
    <% if Delivery.exists?(user_id: current_user.id) %>
        <% for delivery in @deliveries %>
          <% 
          @myDelivery = delivery.id 
          %> 
         
        <% end %>
      <% end %>
      <%= f.hidden_field :delivery_id, value: @myDelivery %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
