<div class="wrap">
  <nav class="nav-bar navbar-default" role="navigation">
      <div id ="top-menu" class="container-fluid active">
          <a class="navbar-brand" href="/">NextPakk</a>
          <%= render 'layouts/user_nav' %>
      </div>      
  </nav>
  <%= render 'layouts/user_side_nav' %>
  
  <!--Body content-->
  <div class="content">
    <div class="top-bar" style="background: whitesmoke !important;">       
      <a href="#menu" class="side-menu-link burger"> 
        <span class='burger_inside' id='bgrOne'></span>
        <span class='burger_inside' id='bgrTwo'></span>
        <span class='burger_inside' id='bgrThree'></span>
      </a>      
    </div>
    <section class="content-inner">
    <br />
          <h1>Scheduled Delivery</h1>
                  <table class="table table-hover table-condensed" style="width: 97% !important;">
                    <thead>
                      <tr>
                        <th>Day</th>
                        <th>Date</th>
                        <th>Window</th>
                        
                        <th colspan="3"></th>
                      </tr>
                    </thead>

                    <tbody>
                      <% @schedules.each do |schedule| %>
                        <tr>
                        <td><%= schedule.day.strftime("%A") %> </td>
                          <td> <%= schedule.day %></td>
                          <td><%= schedule.slot.window %></td>
                          <td><%= link_to "Edit Address", edit_delivery_path(schedule.delivery_id) %></td>
                          <td><% link_to 'Show', schedule %></td>
                          <td><%= link_to 'Edit Date', edit_schedule_path(schedule) %></td>
                          <td><% link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                  <br>

<% link_to 'New Schedule', new_schedule_path %>
    </section>
  </div>  
  
</div>


