<div id="throbber" style="display:none; min-height:120px;"></div>
<div id="noty-holder"></div>
<div id="wrapper">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
     <%= render 'layouts/navbartop' %>
     <% if user_signed_in? %>
       <%= render 'layouts/navbarright' %>
       <%= render 'layouts/navbarside' %>
     <% end %>
  </nav>
    
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row" id="main" >
                
                <div class="row">
                    <div class="profile-header-container">   
                        <div class="profile-header-img">
                        <%= image_tag current_user.image, class: "img-responsive img-circle center-block" %>                            <!-- badge -->
                            <div class="rank-label-container">
                                <span class="label label-default rank-label"><%= current_user.first_name %></span>
                            </div>
                        </div>
                    </div> 
                </div>
          
             <div class="panel panel-default">
                	<div class="panel-heading">
	                	<h3 class="panel-title">
	                		Schedule Details
	                		</h3>
                	</div>
                	<div class="panel-body tab-content">
		                <div class="well">
			                <p>
							  <strong>Day:</strong>
							  <%= @schedule.day.strftime("%A") %>
							</p>
							<p>
							  <strong>Date:</strong>
							  <%= @schedule.day %>
							</p>

							<p>
							  <strong>Window:</strong>
							  <%= @schedule.slot.window %>
							</p>

							<p style="display: none;">
							  <strong>Delivery:</strong>
							  <%= @schedule.delivery_id %>
							</p>
						</div>
						<div class="btn-group pull-right">
						<%= link_to 'Edit', edit_schedule_path(@schedule), class: "btn btn-default" %> 
						<%= link_to 'Back', schedules_path, class: "btn btn-default" %>
						</div>
					</div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
</div><!-- /#wrapper -->






