<%= simple_form_for(@delivery, :html => { mulitpart: true}) do |f| %>
  <% if @delivery.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="true">
      <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
    </button>
      <h4><%= pluralize(@delivery.errors.count, "error") %> prohibited this delivery from being saved:</h4>

      <ul>
      <% @delivery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% userId = current_user.id %>
<% userPacknum = current_user.packs_num %>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control", placeholder: "Panara Bread" %>
  </div>
  <div class="form-group">
    <%= f.label :address %><br>
    <%= f.text_field :address, class: "form-control", placeholder: "350 Fifth Ave, New York, NY 10118" %>
  </div>
  <div class="form-group">
    <%= f.label :phone %><br>
    <%= f.text_field :phone, class: "form-control", placeholder: "(612) 456-4785" %>
  </div>
  <div class="form-group">
    <%= f.label :size %><br>
    <%= f.text_field :size, class: "form-control", placeholder: "Large" %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :user_packnum, value: current_user.packs_num %>
    <% if Order.exists?(user_id: current_user.id) %>
        <% for order in @order %>
          <%
          @myOrder = order.id 
          @myOrderprod = order.product_id
          %> 
         
        <% end %>
      <% end %>
      <%= f.hidden_field :order_id, value: @myOrder %>
      <%= f.hidden_field :product_id, value: @myOrderprod %>
  </div>
  <div class="form-group">
    <%= f.label :image %><br>
    <%= f.file_field :image, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
      
<% end %>
